*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 16px;
}

h1 {
    border: 0;
    margin: 0;
}

.wrapper {
    height: 100%;
    width: 100%;
    background-color: #BBB;
}

.welcome-screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1f1f1f;
}

.main header {
    height: 80px;
    background-color: #282828;
    padding: 1rem;
    color: #FFF;
}

.main .content {
    flex:1;
    background-color: #1f1f1f;
}

.main footer {
    height: 80px;
    background-color: #282828;
    padding-top: 1rem;
}

.player-buttons {
    display:flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.right.floated {
    float: right;
}

.clickable {
    cursor: pointer;
}

.error {
    border: 2px solid red;
}

.progress-wrapper {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-wrapper span {
    color: #959595;
}

.player-progress {
    height: 8px;
    width: 700px;
    background-color: #3d3d3d;
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 6px;
}

.progress-filled {
    background-color: #959595;
    height: 8px;
    border-radius: 4px;
    width: 0;

}

.main .content {
    width: 800px;
    margin: 2rem auto;
}

.list-headers {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.list-headers > div {
    width: 150px;
    display: inline-block;
}

.list-headers > div:first-child {
    width: 330px;
}

.list-headers > div:last-child {
    text-align: right;
}

.song-list .song {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    min-height: 30px;
    cursor: pointer;
}

.song > span {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    height: 1rem;
}
.song > span:first-child {
    width: 330px;
}

.song .song-duration {
    text-align: right;
}

.song-list .song:hover {
    background-color: #282828;
}


.song-list span{
    display: inline-block;
    width: 150px;
}

.song-list span:first-child{
    display: inline-block;
    width: 330px;
}

.content {
    position: relative;
}
.current-song-wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
}

.current-song-image {
    height: 100px;
    width: 100px;
    margin-right: 1rem;
}

.current-song-name {
    font-size: 1.4rem;
    margin-top: 4px;
    margin-bottom: 0;
}

.current-song-album {
    margin-top: 0.4rem;
}

/*DataTables overrides*/
table.dataTable tbody tr {
    background-color: initial;
}
#songs_info {
    display: none;
}

#songs_filter {
    color: transparent;
}
#songs_filter input {
    width: 400px;
    margin-bottom: 1rem;
    font-size: 16px;
}

.player-buttons .fa {
    margin-right: 2rem;
}

.fa.disabled {
    color: gray;
}

#piano_wrapper{

    
}

#piano{
    position: relative;
    margin: 30px auto;
    width: 840px;
    height: 200px;
    background-color: red;
    font-size: 12px;
}

.key{
    display:block;
    cursor:pointer;
    position: absolute;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
}

.white{
    background-color: #fff;
    height: 200px;
    width: 40px;
    border: 1px solid rgba(32,32,32,0.2);
    
}

.black{
    color: #fff;
    background-color: #000;
    height: 120px;
    width: 30px;
    border: 1px solid rgb(32,32,32);
    z-index: 1;
}

.key:hover{
    background-color: orange;
}

.white h4{
    margin-bottom: 10px;
}

.white .keyHead{
    margin-top: 135px;
}

.black .keyHead{
    margin-top: 45px;
}

#instrument{
}
#instrument h4{
    display: inline-block;
    margin:20px 20px;
    cursor: pointer;
}

#inst{
    cursor: pointer;
}

#C_3{
    left: 0;
}

#D_3{
    left: 40px;
}

#E_3{
    left: 80px;
}

#F_3{
    left: 120px;
}

#G_3{
    left: 160px;
}

#A_3{
    left: 200px;
}

#B_3{
    left: 240px;
}

#C_4{
    left: 280px;
}

#D_4{
    left: 320px;
}

#E_4{
    left: 360px;
}

#F_4{
    left: 400px;
}

#G_4{
    left: 440px;
}

#A_4{
    left: 480px;
}

#B_4{
    left: 520px;
}

#C_5{
    left: 560px;
}

#D_5{
    left: 600px;
}

#E_5{
    left: 640px;
}

#F_5{
    left: 680px;
}

#G_5{
    left: 720px;
}

#A_5{
    left: 760px;
}

#B_5{
    left: 800px;
}

#CH_3{
    left: 25px;
}

#DH_3{
    left: 65px;
}

#FH_3{
    left: 145px;
}

#GH_3{
    left: 185px;
}

#AH_3{
    left: 225px;
}

#CH_4{
    left: 305px;
}

#DH_4{
    left: 345px;
}

#FH_4{
    left: 425px;
}

#GH_4{
    left: 465px;
}

#AH_4{
    left: 505px;
}

#CH_5{
    left: 585px;
}

#DH_5{
    left: 625px;
}

#FH_5{
    left: 705px;
}

#GH_5{
    left: 745px;
}

#AH_5{
    left: 785px;
}