*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 16px;
}

h1 {
    border: 0;
    margin: 0;
}

.wrapper {
    height: 100%;
    width: 100%;
    background-color: #BBB;
    display: flex;
}

#piano_wrapper{
    background-color: #BBB;
    height: 100%;
}

.welcome-screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1f1f1f;
}

#playList{
    width: 20%;
    height: 100%;
    background-color: grey;
    border-right: 1px solid #000;

}

#playList h3{
    background-color: #08d957;
    margin:10px;
    margin-top: 30px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

#songList{
    list-style: none;
    margin-left: 0;
    padding:20px;
    text-align: center; 
}

#songList li{
    cursor: pointer;
    margin: 15px;
    padding: 10px;
    background-color: #282828;
    border-radius: 5px;
    color: #fff;
}

.main header {
    height: 80px;
    background-color: #282828;
    padding: 1rem;
    color: #FFF;
}

.main .content {
    flex:1;
    background-color: #1f1f1f;
}

.main footer {
    height: 80px;
    background-color: #282828;
    padding-top: 1rem;
}

.player-buttons {
    display:flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.right.floated {
    float: right;
}

.clickable {
    cursor: pointer;
}

.error {
    border: 2px solid red;
}

#vol_slider {
    height: 8px;
    width: 100px;
    background-color: #3d3d3d;
    border-radius: 4px;
    margin-right: 2rem;
    cursor: pointer;
}

#vol_filled {
    height: 8px;
    border-radius: 4px;
    width: 0;
    background-color: #959595;
    

}

.progress-wrapper {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-wrapper span {
    color: #959595;
}

.player-progress {
    height: 8px;
    width: 700px;
    background-color: #3d3d3d;
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 6px;
    cursor: pointer;
}

.progress-filled {
    background-color: #959595;
    height: 8px;
    border-radius: 4px;
    width: 0;

}

.main .content {
    width: 100%;
    margin: 2rem auto;
}

.list-headers {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.list-headers > div {
    width: 150px;
    display: inline-block;
}

.list-headers > div:first-child {
    width: 330px;
}

.list-headers > div:last-child {
    text-align: right;
}

.song-list{
    overflow: auto;
}

.song-list::-webkit-scrollbar{
    display: none;
}

.song-list .song {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    min-height: 30px;
    cursor: pointer;
}

.song > span {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    height: 1rem;
}
.song > span:first-child {
    width: 330px;
}

.song .song-duration {
    text-align: right;
}

.song-list .song:hover {
    background-color: #282828;
}


.song-list span{
    display: inline-block;
    width: 150px;
}

.song-list span:first-child{
    display: inline-block;
    width: 330px;
}

.content {
    position: relative;
}
.current-song-wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
    padding-left: 147px;
}

.current-song-image {
    height: 100px;
    width: 100px;
    margin-right: 1rem;
    border:1px solid #000;
}

.current-song-name {
    font-size: 1.4rem;
    margin-top: 4px;
    margin-bottom: 0;
}

.current-song-album {
    margin-top: 0.4rem;
}

/*DataTables overrides*/
table.dataTable tbody tr {
    background-color: initial;
}

.dataTables_filter input{
    color: black;
    font-weight: normal;
}

#songs{
    padding-left: 147px;
    padding-right: 147px;
}
#songs_info {
    display: none;
}

#songs_filter {
    color: transparent;
    padding-right: 147px;
}
#songs_filter input {
    width: 400px;
    margin-bottom: 1rem;
    font-size: 16px;
}

.player-buttons .fa, .player-buttons .glyphicon {
    margin-right: 2rem;
    cursor: pointer;
}

.fa.disabled {
    color: gray;
}


#piano_wrapper{

    
}

#piano{
    position: relative;
    margin: 30px auto;
    width: 840px;
    height: 200px;
    font-size: 12px;
}

.key{
    display:block;
    cursor:pointer;
    position: absolute;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
}

.white{
    background-color: #fff;
    height: 200px;
    width: 40px;
    border: 1px solid rgba(32,32,32,0.2);
    z-index: 1;
    
}

.black{
    color: #fff;
    background-color: #000;
    height: 120px;
    width: 30px;
    border: 1px solid rgb(32,32,32);
    z-index: 2;
}

.white .keyHead{
    margin-top: 135px;
}

.black .keyHead{
    margin-top: 45px;
}

#instrument h4{
    display: inline-block;
    margin:20px 20px;
    cursor: pointer;
}

#inst{
    color: #fff;
    text-decoration: none;
}

#w1{
    left: 0;
}

#w2{
    left: 40px;
}

#w3{
    left: 80px;
}

#w4{
    left: 120px;
}

#w5{
    left: 160px;
}

#w6{
    left: 200px;
}

#w7{
    left: 240px;
}

#w8{
    left: 280px;
}

#w9{
    left: 320px;
}

#w10{
    left: 360px;
}

#w11{
    left: 400px;
}

#w12{
    left: 440px;
}

#w13{
    left: 480px;
}

#w14{
    left: 520px;
}

#w15{
    left: 560px;
}

#w16{
    left: 600px;
}

#w17{
    left: 640px;
}

#w18{
    left: 680px;
}

#w19{
    left: 720px;
}

#w20{
    left: 760px;
}

#w21{
    left: 800px;
}

#b1{
    left: 25px;
}

#b2{
    left: 65px;
}

#b3{
    left: 145px;
}

#b4{
    left: 185px;
}

#b5{
    left: 225px;
}

#b6{
    left: 305px;
}

#b7{
    left: 345px;
}

#b8{
    left: 425px;
}

#b9{
    left: 465px;
}

#b10{
    left: 505px;
}

#b11{
    left: 585px;
}

#b12{
    left: 625px;
}

#b13{
    left: 705px;
}

#b14{
    left: 745px;
}

#b15{
    left: 785px;
}

.pressed{
    background-color: red;
}